@font-face {
    font-family: "mainFont";
    src: url(fonts/main.ttf) format("truetype");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    font-family: "mainFont" !important;
    font-size: 25px;

    overflow-x: hidden;
}
#main {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;

    font-family: "mainFont" !important;
    font-size: 25px;

    overflow-x: hidden;
}
#leftText {
    margin-left: 40px;
    margin-top: 40px;
}

#rightText {
    margin-left: 590px;
    margin-top: -46px;
}

#left,
#right {
    background-image: url("../public/images/realdeal.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    width: 50%;
    height: 100%;
    filter: blur(5px);
}
#left {
    width: 50.18%;
}

#right:hover,
#left:hover {
    filter: none;
}

#fixed {
    margin-top: 150px;
    margin-left: 375px;
}

.btnSubmit:hover {
    background-color: rgba(3, 194, 194, 0.82);
}
.btnSubmit {
    border-radius: 5px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.59);
    border: solid 2px rgb(3, 194, 194);
    color: white;
    width: 200px;
    height: 49px;
    padding-top: 5px;
    font-family: "mainFont" !important;
    font-size: 16px;
}

.text {
    font-family: "mainFont" !important;
    width: 300px;
    height: 38px;
    padding-left: 13px;
    border: solid 2px #03c2c2;
    border-radius: 8px;
}

#inputs {
    width: 950px;
    height: 300px;
    position: fixed;
    left: calc(50% - 475px);
    top: 50%;
}

@media only screen and (max-width: 1024px) {
    #leftText {
        margin-left: calc(50% - 152px);
        margin-top: 40px;
    }

    #rightText {
        margin-left: calc(50% - 152px);
        margin-top: 40px;
    }

    #fixed {
        margin-top: 80px;
        margin-left: 375px;
    }
}

#left-info {
    width: fit-content;
    position: absolute;
    z-index: 10;
    font-size: large;
    border: 1px solid #03c2c2;
    background-color: aliceblue;
    border-radius: 5px;
    top: 20vh;
}
#right-info {
    width: fit-content;
    position: absolute;
    z-index: 10;
    font-size: large;
    border: 1px solid #03c2c2;
    background-color: aliceblue;
    border-radius: 5px;
    top: 20vh;
    right: 0;
}

@media screen and (max-width: 590px) {
    #left-info {
        width: fit-content;
        font-size: small;
    }

    #right-info {
        width: fit-content;
        font-size: small;
    }
}

@media screen and (max-width: 420px) {
    #left-info {
        width: 50vw;
        font-size: small;
    }

    #right-info {
        width: 50vw;
        font-size: small;
    }
}
