@font-face {
    font-family: "mainFont";
    src: url(fonts/main.ttf) format("truetype");
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    font-family: "mainFont" !important;
    font-size: 25px;

    /* overflow-x: hidden; */
}
#main {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    font-family: "mainFont" !important;
    font-size: small;

    margin-bottom: 60px;
    align-items: center;
}

.btnSubmit:hover {
    background-color: rgba(3, 194, 194, 0.82);
}
.btnSubmit {
    border-radius: 5px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.59);
    border: solid 2px rgb(3, 194, 194);
    color: white;
    width: 200px;
    height: 49px;
    padding-top: 5px;
    font-family: "mainFont" !important;
    font-size: 16px;
    display: block;
    margin-top: 30px;
    margin: 0 auto;
}

.text {
    font-family: "mainFont" !important;
    min-width: 220px;
    height: 38px;
    padding-left: 13px;
    border: solid 2px #03c2c2;
    border-radius: 8px;
}

#left-info {
    border: 1px solid #03c2c2;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    width: fit-content;
    padding: 10px;
}

#right-info {
    text-align: center;
    border: 1px solid #03c2c2;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: large;
    width: fit-content;
    padding: 10px;
}

#right-container {
    margin-top: 20px;
    background-color: rgb(175, 228, 210);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #03c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#left-container {
    margin-top: 20px;
    background-color: rgb(175, 228, 210);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #03c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 850) {
    #main {
        flex-direction: column;
    }
}

@media screen and (max-width: 680px) {
    #left-info {
        font-size: medium;
    }

    #right-info {
        font-size: medium;
    }
}
@media screen and (max-width: 415px) {
    #left-info {
        font-size: small;
    }

    #right-info {
        font-size: small;
    }
}

#instruction {
    text-align: center;
    background-color: aliceblue;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    border: 1px solid #03c2c2;
}

#instruction-span {
    color: red;
}

.brown {
    color: brown;
}
