body{
    background-image: url("../public/images/background.jpg");
    position: absolute;

    color: rgb(51, 255, 221);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.leftside, .rightside{
    height: 50vh;
    width: 100%;
}


.bottomside{
    background-image: url("../public/images/635963.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border: solid 3px red;
}

@media screen and (min-width:768px){
    .leftside, .rightside{
        height: 100vh;
    }
}